
/* ====================================== 
html5doctor.com/html-5-reset-stylesheet/ 
======================================= */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ========================================
/end css reset 
========================================= */


/* ===================================
BASE STYLES 
==================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  transition: color 0.3s linear;
  color: #f5f1f6;
}

a:hover,
a:focus {
  color: #f5f1f689;
  text-decoration: none;
}

body {
  background-color: #356DF5;
  color: #f5f1f6;
  font: normal 100%/1.5 Calibri, Candara, "Gill Sans", "Gill Sans MT",
    sans-serif;
  min-width: 300px;
}

img {
  width: 100%;
}

p {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

p,
ul,
ol {
  margin-bottom: 1em;
}

/* ==================================
/END BASE STYLES 
===================================== */
